.table{
    margin: 10px;
    border: 1px solid #000;
    background-color: rgb(189, 196, 196);
}

th{
    border: 1px solid rgb(19, 16, 16);
    background-color: rgb(29, 28, 28);
    color: #fff;

}
tr{
    border: 1px solid rgb(150, 139, 139);
}
td{
    border: 1px solid rgb(150, 139, 139);
}

.btn{
    margin: 2px;
}

.btn-success{
    background-color: rgb(28, 109, 17);

}
.btn-success:hover{
    background-color: rgb(124, 196, 83);
}

.btn-danger{
    background-color: rgb(247, 22, 6);

}
.btn-danger:hover{
    background-color: rgb(83, 2, 2);
}

.btn-primary{
    background-color: rgb(6, 199, 247);

}
.btn-primary:hover{
    background-color: rgb(2, 3, 83);
}

h2{

    text-align: center;
    letter-spacing: 5px;
}
.title{
    margin: 10px;
    
}